<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-md-4">
        <img src="ang2.png" alt="" class=" mx-auto d-block" style="width: 150px;">

    </div>
</div>
<div class="row d-flex justify-content-center" style="margin-top: 30px;">

    <div class="col-md-4">

        <form role="form">
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input type="email" placeholder="Username" autocomplete="off" class="form-control" id="username"
                    ng-model="username" spellcheck="false">


            </div>
            <div class="form-group">
                <i class="fa fa-lock fa-lg"></i>
                <input type="password" placeholder="Password" class="form-control" id="pwd" ng-model="password"
                    required>
            </div>

            <input type="submit" class="btn submit" ng-click="loginSubmit()" value="Log in"></input>
            <a href="#register"><input type="submit" class="btn submitr" value="Register"></input></a>



        </form>

    </div>


</div>