<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-md-4">
        <img src="reg.png" alt="" class=" mx-auto d-block" style="width: 150px;">

    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: 30px;">

    <div class="col-md-4">

        <form role="form">
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input type="text" placeholder="First name" autocomplete="off" class="form-control"
                    ng-model="rfirstname" spellcheck="false">


            </div>
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input type="text" placeholder="Last Name" autocomplete="off" class="form-control" ng-model="rlastname"
                    spellcheck="false">


            </div>
            <div class="form-group">
                <i class="fa fa-envelope  fa-lg"></i>
                <input type="email" placeholder="E-mail" autocomplete="off" class="form-control" ng-model="remail"
                    spellcheck="false">


            </div>
            <div class="form-group">
                <i class="fa fa-lock fa-lg"></i>
                <input type="password" placeholder="Password" class="form-control" ng-model="rpassword">
            </div>
            <div class="form-group">
                <i class="fa fa-calendar fa-lg"></i>
                <input type="text" placeholder="dd-mm-yyyy"
                    pattern="^(0[1-9]|[12][0-9]|3[01])[-](0[1-9]|1[012])[-](19|20)\d\d$" id="date" autocomplete="off"
                    class="form-control" ng-model="rdob">
            </div>
            <div class="text-center">
                <input type="submit" class="btn submit" ng-click="registerSubmit()" value="Register"></input>
            </div>


        </form>

    </div>


</div>