body
{
  
  background:  url(bg.jpg);
  background-size: cover;
  background-position: center;

}
.fa
{
  position:absolute; 
  padding-top: 25px; 
  padding-left: 10px; 
  padding-right: 10px; 
  color: white;
  font-size: 18 !important;
}
.form-control
{
  border-radius: 40px ;
  background: rgba(255,255,255,0.15);
  height: 60px;
  margin-bottom: 20px;
  width: 100%;
  border : none;
  
}
.form-control:focus
{
  
  background: rgba(255,255,255,0.15);
  border: none;

}


.form-control::placeholder
{
  color: white;
  padding-left: 5px;
  
}
input:not([type=submit]):not([type=file]) {
  color: white;
  padding-left: 35px;
  font-weight: bold;
}

.form-style{
    text-align: center;
}
.heading
{
    font-family: 'Notable', sans-serif;
    margin-top: 25px;
    font-size: 3vw;
}

  
  @media screen and (min-width: 601px) {
    .heading {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .heading {
      font-size: 20px;
    }
  }


.submit{
  border-radius: 40px ;
 margin-top: 20px;
 background-color: white;
 width: 25%;
 margin-left: 40px;
 
 font-weight: bold;
}
.submit:hover
{
 background-color:black;
 color: white;
 transition: .4s;
 
}

.submitr{
  border-radius: 40px ;
 margin-top: 20px;
 background-color: white;
 width: 25%;
 float: right;
 margin-right: 40px;
 font-weight: bold;
}
.submitr:hover
{
 background-color:black;
 color: white;
 transition: .4s;
 
}
.userr
{
  background: transparent;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 40px;
  background: white;
  color: black;
}
.userr:hover
{
  background: black;
  border-radius: 40px;
  color: white;
}
#form-control
{
  
  background: white;
  height: 60px;
  margin-bottom: 20px;
  width: 100%;
  border : none;
}
/*input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color:white;
}*/

