<div class="row d-flex justify-content-center" style="margin-top: 50px;">
    <div class="col-md-4">
        <img src="reg.png" alt="" class=" mx-auto d-block" style="width: 150px;">

    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top: 30px;">

    <div class="col-md-4">

        <form role="form">
            <div class="form-group">
                <span ng-value="adminid" style="display: none;"></span>

                <i class="fa fa-user fa-lg"></i>
                <input type="text" ng-value="adminfirstname" autocomplete="off" class="form-control" id="firstname"
                    ng-model="ufirstname" spellcheck="false" required>


            </div>
            <div class="form-group">
                <i class="fa fa-user fa-lg"></i>
                <input type="text" ng-value="adminlastname" autocomplete="off" class="form-control" id="lastname"
                    ng-model="ulastname" spellcheck="false" required>


            </div>
            <div class="form-group">
                <i class="fa fa-envelope  fa-lg"></i>
                <input type="email" ng-value="adminemail" autocomplete="off" class="form-control" id="email"
                    ng-model="uemail" spellcheck="false" required>


            </div>
            <div ng-if = "adminpassword">
            <div class="form-group">
                <i class="fa fa-lock fa-lg"></i>
                <input type="password" ng-value="adminpassword" class="form-control" id="password" ng-model="$parent.upassword"
                    required>
            </div>
        </div>
            <div class="form-group">
                <i class="fa fa-calendar fa-lg"></i>
                <input type="text" ng-value="admindob" placeholder="dd-mm-yy" autocomplete="off" class="form-control"
                    id="dob" ng-model="udob">
            </div>
            <div class="text-center">
                <input type="submit" class="btn submit" ng-click="updateSubmit(adminid)" ng-value="Update"></input>
            </div>


        </form>

    </div>


</div>