<div style="width: 75%;">
<div class="row">
    <div class="col-12" >
        <input type="submit" class="btn userr" ng-click="logout()" value="Logout" style="float: right; margin-top: 20px;">
    </div>
</div>
<div class="row" style="margin-top: 30px; border-bottom: white 1px solid;" >
    <div class="col-1">
        <h3 style="float: left; color: white;">
            ID
        </h3>
    </div>
    <div class="col-2">
        <h3 style="float: left; color: white;">
            Name
        </h3>
    </div>
    <div class="col-3">
        <h3 style="float: left; color: white;">
            Email
        </h3>
    </div>
    <div class="col-3">
        <h3 style="float: left; color: white;">
            Actions
        </h3>
    </div>
</div>
<div ng-repeat="x in data">
    <div class="row" style="margin-top: 30px; ">
        <div class="col-1">
            <p style="color: white; font-size: 1.5em; ">
                {{x.id}}
            </p>
        </div>
        <div class="col-2">
            <p style="color: white; font-size: 1.5em;text-transform: uppercase;">
                {{x.firstname}}
            </p>
        </div>
        <div class="col-3">
            <p style="color: white; font-size: 1.5em; overflow-wrap: break-word;">
                {{x.email}}
            </p>
        </div>
        <div class="col-3">
            <p>
                <input type="submit" class="btn userr" ng-click="userUpdate(x.email)" value="Edit">
                <input type="submit" class="btn userr" ng-click="deleteSubmit(x.id)" value="Delete" style="margin-left:20px">
            </p>
        </div>
    </div>
</div>
</div>